@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/css/font-awesome";
@import 'jquery-sakura';
@import 'typed';

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
.bg{
	background-image: url(https://scontent-tpe1-1.xx.fbcdn.net/hphotos-xfa1/t31.0-8/11154611_999723030047573_2085534804254415347_o.jpg);
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Titillium Web', sans-serif;
	//overflow: hidden;
}
html,body{
	height: 100%;
}

body{
	min-height: 100%;
}
.main{
	background-color: rgba(0%,0%,0%,0.5);
	//height: 650px;
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px;
	text-align: center;
	color: #fff;
}

@media (min-width: 768px){
	.main {
	    margin-top: 120px;
		margin-bottom: 120px;
	}		
}

.gray { 
    -webkit-filter: grayscale(60%);
    -moz-filter: grayscale(60%);
    -ms-filter: grayscale(60%);
    -o-filter: grayscale(60%);
    
    filter: grayscale(60%);
	
    filter: gray;
}

.large-fnt{
	font-size: 72px;
}

.countdown{
	margin-top: 50px;
}

.leave-message{
	border: 1px solid #fff;
	width: 150px;
	//height: 30px;
	display: block;
	margin: 20px auto;
	color: #fff;
	padding: 20px;
}
.leave-message:hover{
	color: #fff;
	text-decoration: none;
}

 #backgroundaudio {
  	display: block;
  	position: fixed;
  	bottom: -43px;
  	left: 5px;
  	-webkit-transition: all 1s ease-in-out;
  	-moz-transition: all 1s ease-in-out;
  	-ms-transition: all 1s ease-in-out;
  	-o-transition: all 1s ease-in-out;
  	transition: all 1s ease-in-out;

  	&:hover{
  		bottom: 0;
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
  	}

  	audio {
		background: rgba(0%, 0%, 0%, 0);
		padding: 5px;
		display: table-cell;
		vertical-align: middle;
		height: 43px;
		z-index: 9998;
	}

	i {
  		font-size: 40px;
  		display: block;
  		background: rgba(0% ,0% ,0% ,0);
  		padding: 5px;
  		width: 50px;
  		float: none;
  		margin-bottom: -1px;
  		z-index: 9999;
 	}
 }

